Source: qolibri
Section: education
Priority: optional
Maintainer: Matthias von Faber <mvf@gmx.eu>
Build-Depends: cmake (>= 3.5),
               debhelper (>= 10),
               qt6-base-dev,
	       qt6-tools-dev,
	       qt6-5compat-dev,
               qt6-multimedia-dev,
	       qt6-webengine-dev,
               libeb16-dev,
               zlib1g-dev
Standards-Version: 4.1.0
Vcs-Git: https://github.com/mvf/qolibri
Vcs-Browser: https://github.com/mvf/qolibri
Homepage: https://github.com/mvf/qolibri

Package: qolibri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPWING Dictionary/Book Viewer

