Source: qolibri
Section: education
Priority: optional
Maintainer: Matthias von Faber <mvf@gmx.eu>
Build-Depends: cmake (>= 3.11),
               debhelper (>= 10),
               qtbase5-dev (>= 5.15.0),
               qt5-qmake,
               qttools5-dev,
               qtmultimedia5-dev,
               qtwebengine5-dev,
               libeb16-dev
Standards-Version: 4.1.0
Vcs-Git: https://github.com/mvf/qolibri
Vcs-Browser: https://github.com/mvf/qolibri
Homepage: https://github.com/mvf/qolibri

Package: qolibri
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPWING Dictionary/Book Viewer

